<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlitBit.Copy" version="3.0.0" targetFramework="net451" />
  <package id="FlitBit.Core" version="3.3.0" targetFramework="net451" />
  <package id="FlitBit.Dto" version="3.0.0" targetFramework="net451" />
  <package id="FlitBit.Emit" version="3.0.0" targetFramework="net451" />
  <package id="FlitBit.IoC" version="3.2.1" targetFramework="net451" />
  <package id="FlitBit.Represent" version="2.0.0" targetFramework="net451" />
  <package id="FlitBit.Wireup" version="3.4.0" targetFramework="net451" />
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net451" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.14" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net451" />
  <package id="RedRocket.Utilities.Core" version="1.0.7" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>